<div class="dialog-container">
  <h1 class="dialog-title">{{ "Common.RoleDialog.Title" | translate }}</h1>

  <div class="dialog-description">{{ "Common.RoleDialog.Description" | translate }}</div>
  <mat-form-field class="dialog-input">
    <mat-label>{{ "Common.Role" | translate }}</mat-label>
    <mat-select #selection>
      <mat-option *ngFor="let permission of userPermissions" [value]="permission.type">
        {{ permission.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dialog-input">
    <mat-label>{{ "Common.Message" | translate }}</mat-label>
    <input matInput #message placeholder="Your message to the administrator." />
  </mat-form-field>

  <button (click)="submitRole(selection.value, message.value)" class="dialog-button btn btn-primary">
    {{ "Common.Submit" | translate }}
  </button>
</div>
