<div class="dialog-container">
  <i class="close-icon">x</i>
  <h1 class="dialog-title">Specify your role</h1>

  <div class="dialog-description">Please specify your role in this application.</div>
  <mat-form-field class="dialog-selection">
    <mat-label>Role</mat-label>
    <mat-select #selection>
      <mat-option *ngFor="let permission of userPermissions" [value]="permission.type">
        {{ permission.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="submitRole(selection.value)" class="dialog-button btn btn-primary">Submit</button>
</div>
