.dialog-container {
  position: relative;
  padding-top: 32px;
}

.dialog-title {
  margin-bottom: 32px;
  font-weight: bold;
  text-align: center;
}

.dialog-description {
  width: 100%;
  text-align: center;
}

.dialog-input {
  width: 100%;
  padding: 12px 24px;
}

.dialog-button {
  width: 100%;
}
