<div class="activities">
  <div (click)="openRequestDialog()" class="activity-container">
    <span class="activity-title" [innerHTML]="'Hospital.View.RequestAction.Description' | translate"></span>
  </div>

  <div (click)="openUpdateCountDialog()" class="activity-container activity-container--long">
    <span class="activity-title" [innerHTML]="'Hospital.View.UpdateAction.Description' | translate"></span>
    <div class="patients-count">
      <span class="patients-count__number">{{ patientsCount }}</span>
      <span class="patients-count__sub-title">{{ "Hospital.View.UpdateAction.Counter" | translate | lowercase }}</span>
    </div>
  </div>
</div>
