<div class="activities">
  <div (click)="openRequestDialog()" class="activity-container">
    <span class="activity-title"><b>Request</b> supply of vaccines.</span>
  </div>

  <div (click)="openUpdateCountDialog()" class="activity-container activity-container--long">
    <span class="activity-title">Update count of <b>hospitalized</b> people.</span>
    <div class="patients-count">
      <span class="patients-count__number">230</span>
      <span class="patients-count__sub-title">people hospitalized.</span>
    </div>
  </div>
</div>
