<div class="dialog-container">
  <h1 class="dialog-title">{{ "Supplier.AddSupply.Title" | translate }}</h1>

  <div class="dialog-description">{{ "Supplier.AddSupply.Description" | translate }}</div>
  <mat-form-field class="dialog-input">
    <mat-label>{{ "Common.VaccinesCount" | translate }}</mat-label>
    <input type="number" matInput #input placeholder="{{ 'Common.VaccinesCount' | translate }}" />
  </mat-form-field>

  <button (click)="addSupply(input.value)" class="dialog-button btn btn-primary">
    {{ "Common.Submit" | translate }}
  </button>
</div>
