<div class="dialog-container">
  <h1 class="dialog-title">{{ "Hospital.RequestDialog.Title" | translate }}</h1>

  <div class="dialog-description">{{ "Hospital.RequestDialog.Description" | translate }}</div>
  <mat-form-field class="dialog-input">
    <mat-label>{{ "Common.VaccinesCount" | translate }}</mat-label>
    <input type="number" matInput #input placeholder="{{ 'Common.VaccinesCount' | translate }}" />
  </mat-form-field>

  <button (click)="requestSupply(input.value)" class="dialog-button btn btn-primary">
    {{ "Common.Submit" | translate }}
  </button>
</div>
