<div class="content">
  <div class="backdrop" (click)="onClose()"></div>
  <div class="login-box">
    <div class="image-container">
      <img src="../../../../assets/login-image.svg" width="80%" />
    </div>

    <div class="login-container">
      <div class="login-form">
        <h1 class="login-form-header">
          {{ authType === authTypeEnum.Register ? "Sign up" : "Sign in" }}
        </h1>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="login-input-container">
            <label for="email">Email</label>
            <br />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
              email
              ngModel
              [disabled]="isLoading"
            />
          </div>
          <div class="login-input-container" *ngIf="authType === authTypeEnum.Register">
            <label for="name">Name</label>
            <br />
            <input type="text" id="name" name="name" placeholder="Name" required ngModel [disabled]="isLoading" />
          </div>
          <div class="login-input-container">
            <label for="password">Password</label>
            <br />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
              ngModel
              [disabled]="isLoading"
            />
            <br />
          </div>
          <div>
            <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
              {{ authType === authTypeEnum.Register ? "Register" : "Log in" }}
            </button>
          </div>
          <div class="login-link-center">
            <a
              class="login-link"
              *ngIf="authType === authTypeEnum.Login; else register"
              (click)="onToggleRegistration()"
              >Create account</a
            >
            <ng-template #register>
              <a class="login-link" (click)="onToggleRegistration()">Log in</a>
            </ng-template>
          </div>
          <div *ngIf="error" class="error">
            <p>{{ error }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
