.content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90.11deg, #6C9CE8 -82.43%, #97A8F1 -34.83%, #C8E2FF 97.99%);
}

.login-box {
  position: relative;
  display: flex;
  z-index: 10;
  width: 1000px;
  height: 600px;
  margin: auto 0;
  background: #FFFFFF;
  border-radius: 16px;
  filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.05));
}

.image-container,
.login-container {
  height: 600px;
}

.image-container {
  display: flex;
  flex: 0.6;
  padding-left: 48px;
}

.login-container {
  display: flex;
  align-items: center;
  flex: 0.4;
  justify-content: flex-start;
}

.login-form {
  position: relative;
  left: 35px;
}

form {
  font-family: 'Montserrat-ExtraLight';
}

form ::placeholder {
  color: #9D9D9D;
}

.login-form-header {
  margin-bottom: 40px;
  color: #1F1F1F;
  font-size: 48px;
  line-height: 60px;
}

label {
  all: unset;
  color: #717171;
  font-size: 18px;
  line-height: 28px;
}

input,
input:focus {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  color: #1F1F1F;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
}

.login-input-container {
  margin-bottom: 16px;
}

.login-input:focus {
  outline: none;
}

button {
  width: 250px;
}

.login-link {
  line-height: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.login-link-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  font-size: 12px;
}

.login-link-center {
  position: absolute;
  bottom: -35px;
  left: 10px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.error {
  position: fixed;
  bottom: 20px;
  margin-left: 3px;
  color: #C31919;
}
