<div class="content">
  <div class="backdrop"></div>
  <div class="login-box">
    <div class="image-container">
      <img src="{{ imageUrl }}" width="80%" />
    </div>

    <div class="login-container">
      <div class="login-form">
        <h1 class="login-form-header">
          {{ (authType === authTypeEnum.Register ? "Login.SignUp" : "Login.SignIn") | translate }}
        </h1>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="login-input-container">
            <label for="email">{{ "Login.Email" | translate }}</label>
            <br />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="{{ 'Login.Email' | translate }}"
              required
              email
              ngModel
              [disabled]="isLoading"
            />
          </div>
          <div class="login-input-container" *ngIf="authType === authTypeEnum.Register">
            <label for="name">{{ "Login.Name" | translate }}</label>
            <br />
            <input
              type="text"
              id="name"
              name="name"
              placeholder="{{ 'Login.Name' | translate }}"
              required
              ngModel
              [disabled]="isLoading"
            />
          </div>
          <div class="login-input-container">
            <label for="password">{{ "Login.Password" | translate }}</label>
            <br />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="{{ 'Login.Password' | translate }}"
              required
              ngModel
              [disabled]="isLoading"
            />
            <br />
          </div>
          <div>
            <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
              {{ (authType === authTypeEnum.Register ? "Login.Register" : "Login.LogIn") | translate }}
            </button>
          </div>
          <div class="login-link-center">
            <a
              class="login-link"
              *ngIf="authType === authTypeEnum.Login; else register"
              (click)="onToggleRegistration()"
              >{{ "Login.CreateAccount" | translate }}</a
            >
            <ng-template #register>
              <a class="login-link" (click)="onToggleRegistration()">{{ "Login.LogIn" | translate }}</a>
            </ng-template>
          </div>
          <div *ngIf="error" class="error">
            <p>{{ error }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
