<div class="content">
  <div class="backdrop" (click)="onClose()"></div>
  <div class="login-box">
    <div class="plant-img"></div>
    <div class="gradient-svg">
      <div class="login-form">
        <h1 class="login-form-header">
          {{ authType === 0 ? "Register" : "Sign in" }}
        </h1>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="login-input-container">
            <label for="email">Email:</label>
            <br />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
              email
              ngModel
              [disabled]="isLoading"
            />
          </div>
          <div class="login-input-container" *ngIf="authType === 10">
            <label for="name">Name:</label>
            <br />
            <input type="text" id="name" name="name" placeholder="Name" required ngModel [disabled]="isLoading" />
          </div>
          <div class="login-input-container">
            <label for="password">Password:</label>
            <br />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
              minlength="6"
              ngModel
              [disabled]="isLoading"
            />
            <br />
          </div>
          <div>
            <button *ngIf="!isLoading" type="submit" [disabled]="!authForm.valid">
              {{ authType === 0 ? "Register" : "Log in" }}
            </button>
          </div>
          <div class="login-link-center">
            <a class="login-link" *ngIf="authType === 10" (click)="onToggleRegistration()">Create account</a>
            <a class="login-link" *ngIf="authType === 0" (click)="onToggleRegistration()">Log in</a>
          </div>
          <div *ngIf="error" class="error">
            <p>{{ error }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
