<app-auth *ngIf="isAuthOn" (onCloseEvent)="closeLogin()"></app-auth>
<div *ngIf="!isAuthOn">
  <app-header></app-header>
  <mat-drawer-container class="app-container" [hasBackdrop]="false">
    <mat-drawer class="app-container__drawer" [opened]="true" [mode]="'side'">
      <span>Menu</span>
      <div class="menu">
        <span
          [ngClass]="{ 'menu-item--active': item.type === activeMenuItem }"
          *ngFor="let item of menuItems"
          (click)="activeMenuItem = item.type"
          class="menu-item"
          >{{ item.name }}</span
        >
      </div>
    </mat-drawer>
    <mat-drawer-content class="app-container__content">
      <span>Activites</span>
      <div class="activites">
        <div [ngSwitch]="user.type">
          <app-request-permission *ngSwitchCase="UserType.None"></app-request-permission>
          <app-requests-table *ngSwitchCase="UserType.Administrator"></app-requests-table>
          <app-hospital-view *ngSwitchCase="UserType.HospitalWorker"></app-hospital-view>
          <app-supplier-view *ngSwitchCase="UserType.Supplier"></app-supplier-view>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
