<div class="dialog-container">
  <h1 class="dialog-title">{{ "Common.TransferSupplyDialog.Title" | translate }}</h1>

  <div class="dialog-description">{{ "Common.TransferSupplyDialog.Description" | translate }}</div>
  <mat-form-field class="dialog-input">
    <mat-label>{{ label | translate }}</mat-label>
    <mat-select #selection>
      <mat-option *ngFor="let selectable of selectables" [value]="selectable.id">
        {{ selectable.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="dialog-input">
    <mat-label>{{ "Common.VaccinesCount" | translate }}</mat-label>
    <input type="number" matInput #message placeholder="{{ 'Common.TransferSupplyDialog.Title' | translate }}" />
  </mat-form-field>

  <button (click)="transfer(selection.value, message.value)" class="dialog-button btn btn-primary">
    {{ "Common.Submit" | translate }}
  </button>
</div>
